ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
  }
  
  ul.images li {
    display: inline;
    margin-left: 9px;
  }

  .scroll-img {
      width: 300px;
  }
  img {
    border: 1px solid rgb(49, 49, 49);
  }
