
<div id="wrapper">
    <div class="content-area">
      <div class="container-fluid">
        <div class="main">
          <div class="row mt-4">
            <div class="col-12">
              <div class="box shadow mt-4">
                <section class="content-header">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          <h4 style="color: rgb(87, 87, 87);">{{ "DefectsTrend" | localize }}</h4>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="content px-2">
                <div id="defectstrend"></div>
            </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
